@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');



.pageTitle {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
  text-align: left;
  margin-left: 9%; /* Alinea el título con el contenedor */
}

/* src/styles/GameRegistry.module.css */
.gameRegistryContainer {
  background-color: #f5f5f5;
  border-radius: 10px; /* Bordes redondeados para el contenedor */
  margin: 0 9% 3% 9%;
  font-family: 'Rajdhani', sans-serif; /* Aplica la fuente a todos los elementos dentro de este contenedor */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
}

.upperSection {
  height: 960px; /* Altura fija de 850 píxeles */
  background-color: #e0e0e0; /* Color de fondo para distinguir la sección */
  margin-bottom: 10px; /* Espacio entre las secciones */
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
}

/* Asegura que los títulos de las columnas sean negros */
.columnTitle {
  color: black;
}

.column {
  padding: 10px;
}

.column1 {
  width: 35%;
  background-color: #d0d0d0; /* Color de fondo para distinguir la columna */
}

.column2 {
  width: 30%;
  background-color: #c0c0c0; /* Color de fondo para distinguir la columna */
}

.column3 {
  width: 35%;
  background-color: #d0d0d0; /* Color de fondo para distinguir la columna */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
}

.column3 .columnTitle {
  text-align: left; /* Alinea el título a la izquierda */
  width: 100%; /* Asegura que el título ocupe todo el ancho de la columna */
  color: black;

}

.inputField {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  font-family: 'Rajdhani', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 5px 0; /* Aumenta el espacio entre el botón y el título */
}

.textAreaField {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  font-family: 'Rajdhani', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 100px; /* Altura del textarea */
  resize: none; /* Evita que el usuario ajuste el tamaño */
  margin: 5px 0; /* Aumenta el espacio entre el botón y el título */
}

.selectField {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  font-family: 'Rajdhani', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px; /* Espacio entre los campos */
}

.selectedCategories {
  margin-top: 10px;
}

.categoryTag {
  display: inline-block;
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
  position: relative;
}

.categoryTag:hover .removeCategory {
  display: inline;
}

.removeCategory {
  display: none;
  margin-left: 10px;
  color: rgb(241, 137, 255);
  cursor: pointer;
}

.languagesContainer {
  margin-top: 20px;
}

.languagesTitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.languagesContent {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.languageColumn {
  width: 48%;
  text-align: left; /* Justifica el contenido de las columnas hacia la izquierda */
}

.languageColumn label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 18px; /* Tamaño de subtítulo */
}

.languageColumn input[type="checkbox"] {
  margin-right: 10px; /* Espacio entre el checkbox y el texto */
  accent-color: #8A2BE2;
}

.coverBox {
  border-radius: 8px;
  height: 483px;
  background-color: #ffffff; /* Color de fondo para distinguir el recuadro */
  border: 1px solid #ccc; /* Borde del recuadro */
  background-size: cover; /* Asegura que la imagen cubra todo el recuadro */
  background-position: center; /* Centra la imagen */
  margin-bottom: 15px;
}

.developerBox {
  border-radius: 8px;
  width: 300px; /* Ancho del cuadro */
  height: 300px; /* Altura del cuadro */
  background-color: #ffffff; /* Color de fondo para distinguir el recuadro */
  border: 1px solid #ccc; /* Borde del recuadro */
  background-size: cover; /* Asegura que la imagen cubra todo el recuadro */
  background-position: center; /* Centra la imagen */
  margin: 5px 0; /* Aumenta el espacio entre el botón y el título */
}

.imageUploadInput {
  display: none; /* Oculta el input de archivo */
}

.uploadButton {
  margin: 5px 0; /* Aumenta el espacio entre el botón y el título */
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Rajdhani', sans-serif;
  background-color: #8A2BE2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.uploadButton:hover {
  background-color: #9F4DEC;
}

.galleryTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Rajdhani', sans-serif;
}
.galleryBox {
  width: 100%;
  padding: 10px; /* Espacio entre los bordes del galleryBox y los galleryItems */
  background-color: #c7c7c7; /* Color de fondo gris */
  border: 1px solid #ccc; /* Borde del recuadro */
  border-radius: 8px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
  grid-template-rows: repeat(2, 1fr); /* Dos filas iguales */
  gap: 10px; /* Espacio entre los galleryItems */
  height: 350px; /* Altura del galleryBox aumentada */
}

.priceTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  font-family: 'Rajdhani', sans-serif;
}

.priceInputContainer {
  position: relative;
  width: 100%;
} 

.priceInput {
  width: 100%;
  padding: 8px;
  font-size: 24px; /* Tamaño de fuente de título */
  font-family: 'Rajdhani', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding-right: 40px; /* Espacio para el texto ARS */
  -moz-appearance: textfield; /* Oculta las flechas en Firefox */
}

.priceInput::-webkit-outer-spin-button,
.priceInput::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Oculta las flechas en Chrome, Safari y Edge */
  margin: 0;
}

.priceCurrency {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-family: 'Rajdhani', sans-serif;
  color: #666;
}

.lowerSection {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff; /* Color de fondo para distinguir la sección */
  border-radius: 0 0 10px 10px; /* Bordes redondeados en la parte inferior */
  padding: 20px; /* Espacio interno */
}


.gameModesContainer {
  margin-top: 20px;
}

.gameModesTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Rajdhani', sans-serif;
  text-align: center; /* Centra el título dentro de su contenedor */
}

.gameModesContainer label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 18px; /* Tamaño de subtítulo */
}

.gameModesContainer input[type="checkbox"] {
  margin-right: 10px; /* Espacio entre el checkbox y el texto */
  accent-color: #8A2BE2;

}

.lowerSection {
  display: flex;
  justify-content: space-between;
  background-color: #e0e0e0; /* Color de fondo para distinguir la sección */
  border-radius: 0 0 10px 10px; /* Bordes redondeados en la parte inferior */
  padding: 20px; /* Espacio interno */
}

.requirementsColumn {
  width: 48%; /* Ancho de cada columna */
}

.requirementsTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Rajdhani', sans-serif;
  text-align: center; /* Centra el título dentro de su contenedor */
}

.termsContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido horizontalmente */
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.termsLabel {
  font-size: 16px;
  font-family: 'Rajdhani', sans-serif;
  margin-right: 20px; /* Espacio entre el checkbox y el botón */
}

.termsCheckbox {
  margin-right: 10px;
  accent-color: #8A2BE2; /* Color de acento */
}

.publishButton {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Rajdhani', sans-serif;
  background-color: #8A2BE2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.publishButton:hover {
  background-color: #9F4DEC;
}